/*==== HELPER STYLES ====*/
* {
  box-sizing: border-box;
}

body {
  color: #444349;
}

/*==== HEADER STYLES ====*/

header {
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.main-box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px 90px;
  background-color: #00000080;
  border-radius: 4px;
}

.inside-main-box {
  min-width: 300px;
}

.tagline {
  font-family: 'Libre Baskerville';
}

.inside-main-box hr {
  width: 150px;
  color: white;
}

.headline {
  font-family: 'Great Vibes';
  font-size: 5rem;
  color: #d2ba87;
  margin: 20px 0;
}

.date {
  font-family: 'Libre Baskerville';
}

.date::before, .date::after {
  content:"\00a0\00a0\00a0\00a0";
  text-decoration:line-through;
}

@media screen and (max-width: 530px) {

  .main-box {
    padding: 40px 15px;
  }

}

@media screen and (max-width: 360px) {

  .main-box {
    padding: 40px 0;
  }

  .headline {
  font-family: 'Great Vibes';
  font-size: 4rem;
  color: #d2ba87;
  margin: 20px 0;
}


}

/*==== MAIN STYLES ====*/

/*==== LOCATION STYLES ====*/
.locations {
  text-align: center;
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
}

.locations h2 {
  padding: 30px 0;
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 600;
}

.inside-locations hr {
  width: 100px;
  border: 1px solid grey;
}

.box-location {
  padding: 30px 0;
}

.mini-title {
  font-family: 'Libre Baskerville';
  font-weight: bold;
  font-size: 1.5rem;
}

.mini-img {
  width: 140px;
}

.mini-title, .mini-img {
  margin-bottom: 30px;
}

.mini-p {
  font-family: 'Muli', sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 700px) {

  .inside-locations {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .inside-locations hr {
     display: none;
  }

}

/*==== PROGRAM STYLES ====*/
.program {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.inside-program {
  margin: 0 auto;
}

.inside-program h2 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.inside-program p:first-of-type {
  font-family: 'Libre Baskerville';
  font-style: oblique;
  margin-bottom: 20px;
}

.inside-program p {
  font-size: 1.25rem;
  font-weight: 600;
}

/*==== GIFTS STYLES ====*/

.gifts {
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
  display: flex;
  justify-content: center;
}

.gifts h2 {
  padding: 30px 0;
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.img-container {
  margin: 0 auto 20px;
  text-align: center;
}

.gifts p {
  margin-bottom: 20px;
  font-family: 'Libre Baskerville';
}

/*==== QUESTIONS STYLES ====*/

.questions {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  padding: 40px 0;
}

.questions h2 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.inside-questions {
  display: flex;
  justify-content: space-around;
}

.inside-questions hr {
  display: none;
}

.box-question {
  width: 370px;
}

.box-question h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.box-question p {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
  margin: 30px auto 15px;
}

@media screen and (max-width: 1024px) {

  .inside-questions {
    display: block;
  }
  .box-question {
    width: 400px;
    margin: 0 auto;
  }

  .inside-questions hr {
    display: block;
    width: 300px;
    border: 1px solid #d2ba87;
    margin: 20px auto;
  }

}

@media screen and (max-width: 450px) {

  .inside-questions {
    display: block;
  }
  .box-question {
    width: 290px;
    margin: 0 auto;
  }

  .inside-questions hr {
    display: block;
    width: 150px;
    border: 1px solid #d2ba87;
    margin: 20px auto;
  }

}

/*==== CONTACTS STYLES ====*/

.contacts {
  display: flex;
  justify-content: center;
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
  text-align: center;
}

.inside-contacts {
  margin: 0 6px;
}

.inside-contacts h2 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.inside-contacts h2, .inside-contacts p {
  margin-bottom: 20px;
}

.inside-contacts p {
  font-family: 'Libre Baskerville';
  font-weight: bold;
}

/*==== FOOTER STYLES ====*/
 footer {
  text-align: center;
  background-color: #606060;
  color: #d2ba87;
  padding: 40px 0;
 }

 a, span {
   color: #bd806e;
 }