/*==== HELPER STYLES ====*/
* {
  box-sizing: border-box;
}

body {
  color: #444349;
}

/*==== HEADER STYLES ====*/

header {
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.main-box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px 90px;
  background-color: #00000080;
  border-radius: 4px;
}

.inside-main-box {
  min-width: 330px;
}

.tagline {
  font-family: 'Libre Baskerville';
}

.inside-main-box hr {
  width: 150px;
  color: white;
}

.headline {
  font-family: 'Great Vibes';
  font-size: 5rem;
  color: #d2ba87;
  margin: 20px 0;
}

.date {
  font-family: 'Libre Baskerville';
}

.date::before, .date::after {
  content:"\00a0\00a0\00a0\00a0";
  text-decoration:line-through;
}

/*==== MAIN STYLES ====*/

/*==== LOCATION STYLES ====*/
.locations {
  text-align: center;
  background-image: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
}

.locations h2 {
  padding: 30px 0;
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: 600;
}

.locations hr {
  width: 100px;
  border: 1px solid grey;
}

.box-location {
  padding: 30px 0;
}

.mini-title {
  font-family: 'Libre Baskerville';
  font-weight: bold;
  font-size: 1.5rem;
}

.mini-img {
  width: 140px;
}

.mini-title, .mini-img {
  margin-bottom: 30px;
}

.mini-p {
  font-family: 'Muli', sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
}